@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

  @import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    margin: 0px;
}
.Home{
    display: flex;
   
    
  
}

.Home .heading{
    background-color:#ECF2FF;
   width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;

}
.Home .heading .heading-buttons{
    display: flex;
   margin-right: 13%;
   margin-top: 9vh;
  
}
.Home .heading .heading-buttons button:hover{
    cursor: pointer;
}
.Home .heading .heading-buttons .button1{
    height: 6vh;
    width: 14vw;
    background-color: #F31559;
    border: none;
    color: #FFFFFF;
    
    box-shadow: 0px 2px 5px hsl(0, 18%, 3%);
    font-family: 'Bungee', cursive;
    letter-spacing: 1px;
}
.Home .heading .heading-buttons .button2{
    height: 6vh;
    width: 9vw;
    margin-left: 1vw;
    background-color: #FFFFFF;
    border: none;
   
    box-shadow: 0px 2px 5px hsl(0, 18%, 3%);
    font-family: 'Bungee', cursive;
    letter-spacing: 1px;
}


.Home .heading .heading-names h1{
    font-size: 73px;
    width: 30vw;
    font-family: 'Bree Serif', serif;
}
.Home .heading .heading-names h2{
    margin-bottom: 2vh;
    font-family: 'Philosopher', sans-serif;
    color: #FF6969;
}

.Home .image{
    background-color:#F31559;
 
   width: 100%;
   height: 100vh;
 
  
}
.Home .image img{
   margin-top:9vh ;
   margin-left: 25%;
    width: 40%;
}



@media only screen and (max-width:700px){
    .Home{
        display: flex;
       flex-direction: column;
        overflow: hidden;
       
    }
    .Home .heading{
       
      
        height: 70vh;
       
    
    }
    .Home .heading .heading-buttons{
        display: flex;
       margin-right: 0%;
       margin-top: 9vh;
      
    }
    .Home .heading .heading-buttons .button1{
       
        width: 50vw;
       font-size: 12px;
       font-weight: normal;
        
        
        letter-spacing: 0px;
    }
    .Home .heading .heading-buttons .button2{
       
        width: 40vw;
        font-size: 12px;
       font-weight: normal;
       
       
       
        letter-spacing: 0px;
    }
    .Home .heading .heading-names h1{
        font-size: 53px;
       
       
    }
    .Home .heading .heading-names h2{
        margin-bottom: 2vh;
        margin-top: 12vh;
       
    }
    .Home .image{
      
     
       width: 100%;
       height: 70vh;
     
      
    }
    .Home .image img{
       margin-top:17vh ;
       margin-left: 25%;
        width: 50%;
    }
}


